{% load static %}

<footer class="page-footer grey lighten-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <img img src="{% static '/media/img/will_logo.png' %}"  height="45">
                <p class="black-text text-lighten-4">&nbsp;&nbsp;Call Us Toll Free At: <b>(800) 000-0000</b></p>
                <ul>
                {% comment %} TODO: STYLING TO CSS SHEET {% endcomment %}
                    <a href="https://www.linkedin.com/in/william-hundahl" target="_blank" class="social-foot-links"><img src="{% static '/media/img/linkedin.png' %}"  height="20"></a>
                    <a href="https://twitter.com/" target="_blank" class="social-foot-links"><img src="{% static '/media/img/twitter.png' %}"  height="20"></a>
                    <a href="mailto:hundahlwt@g.cofc.edu?Subject=Support-Form" target="_Top" class="social-foot-links"><i class="material-icons text-icon-top black-text">mail</i></a>
                </ul>
              </div>
              <div class="col l3 s12">
               
            
              </div>
              <div class="col l3 s12">
             
            
              </div>
            </div>
          </div>
         {% comment %} TODO: STYLING TO CSS SHEET {% endcomment %}
          <div class="footer-copyright">
            <div class="container black-text">
                <div class="left" >
                <ul class="list-inline">
                <li><a href="!#">Legal</a></li>
                <li><a href="!#">Privacy Policy</a></li>
                </ul>
                </div>
                <div class="right">
                <p>© Copyright W | H Designs 2019 All rights reserved</p></div>
            </div>
          </div>
</footer>