{% load static %}

<script type="text/javascript" src="{% static '/media/js/navbar.js' %}"></script>

<!-- Dropdowns -->

  <!-- Profile Dropdown -->
    <ul id="ProfileDrop" class="dropdown-content dropdown-hover-style">
      <li><a href="/accounts/profile/" class="black-text"><i class="material-icons">account_circle</i>Update Profile</a></li>
        <li class="divider" class="black"></li>
      <li><a href="/logout" class="black-text"><i class="material-icons">close</i>Logout</a></li>
    </ul>

<!-- END Dropdowns -->

<!-- Navigation Structure -->
  <nav class="nav-extended grey lighten-5">
    <div class="nav-wrapper">
      <a class="brand-logo" href="/home/"><img src="{% static '/media/img/will_logo.png' %}"  height="60"></a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down top-nav-list">
          {% if user.is_authenticated %}
              <!-- Profile Dropdown Structure -->
              <!-- Profile Picture inline with top navigation until mobile size -->
          <li><a class="dropdown-trigger black-text dropdown-profile" href="#!" data-target="ProfileDrop">

          {% comment %} TODO: Image in user model for profile picture {% endcomment %}
          <img class="circle responsive-img left profile-img" src="{% static '/media/img/person.jpg' %}">
          Hello, {{user.first_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
          {% else %}
          <li><a class="black-text" href="/register">Register</a></li>
          <li><a class="black-text" href="/login">Login</a></li>
          {% endif %}
          <!-- Only Staff can access to Admin -->
          {% if user.is_staff %} 
          <li><a class="black-text dropdown-hover" href="/admin">Admin</a></li>
          {% endif %}
      </ul>
    </div>

    <!--Lower Navigation Structure-->
    {% if user.is_authenticated %}
    <div class="nav-wrapper hide-on-med-and-down">
    
        <ul class="left">
        <li><a class="active black-text dropdown-hover" href="/home/">Home</a></li>
        <!--FAB Button lower right navbar-->
        <a href="#!" class="btn-floating btn-large halfway-fab waves-effect waves-light yellow accent-4 tooltipped" data-position="left" data-tooltip="Add Employee"><i class="material-icons">add</i></a>
      </ul>
      
    </div>
    {% endif %}
  </nav>

<!-- Side Navigation For Mobile -->
  <ul class="sidenav" id="mobile">
     <li><div class="user-view">
     <div class="background sidenav-background">
        {% comment %} <img src="{% static '/media/img/charleston/Pineapple.jpg' %}"> {% endcomment %}
      </div>
      {% if user.is_authenticated %}
        <!-- TODO: Need to add model for user profile image -->
      <a href="#user"><img class="circle" src="{% static '/media/img/charleston/Pineapple.jpg' %}"></a>
      <a href="/accounts/profile/" class="white-text name" >Hello, {{ user.first_name }}</a>
      <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
       {% else %}
      <a href="#name"><span class="white-text name">W | H Designs Portal</span></a>
       {% endif %}
    </div>
  </ul>
